* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.smalDisplay {
}
.togeser1Ekran {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.time {
  width: 90%;
  height: auto;
  margin: 2vw;
  margin-top: 4vw;
}
.time h2 {
  font-size: 1.3rem;
}
.time p {
  font-size: 1.1rem;
}

.serch {
  width: 90%;
  height: auto;
  border: none;
  background-color: rgba(73, 69, 79, 0.2);
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
}
#serchInput {
  width: 90%;
  height: 95%;
  border: none;
  background-color: rgba(73, 69, 79, 0);
  font-size: 1.2rem;
  padding: 1vw;
}
#serchInput:hover {
  border: none;
  background-color: rgba(208, 188, 255, 0.3);
}

.serchButton {
  background-color: rgba(73, 69, 79, 0);
  border: none;
  height: 80%;
  width: 5%;
}
.serchButton:hover {
  width: 7%;
  height: 90%;
}
.serchButton:active {
  background-color: rgba(208, 188, 255, 0.2);
  border-radius: 40px;
  height: 90%;
  width: 10%;
}
.filtr {
  width: 90%;
  height: auto;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2vw;
}
.filtr button {
  font-size: 1rem;
  font-weight: 500;
  padding: 1vw;
}
.all {
  border-left: none;
}
.end {
  border-right: none;
}
