* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.togeser1Ekran {
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.time {
  width: 90%;
  height: auto;
}
.time h2 {
  font-size: 1.5rem;
}
.time h2 {
  font-size: 1.2rem;
}
.smalDisplay {
  height: 0;
  width: 0;
}
