* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.smalDisplay {
  display: none;
}
.togeser1Ekran {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.time {
  width: 90%;
  height: auto;
  margin: 2vw;
  margin-top: 4vw;
}
.time h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.time p {
  font-size: 1.1rem;
}

.serch {
  width: 90%;
  height: auto;
  border: none;
  background-color: rgba(103, 80, 164, 0.16);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
}
#serchInput {
  width: 90%;
  height: 95%;
  border: none;
  background-color: rgba(103, 80, 164, 0);
  font-size: 1.2rem;
  padding: 1vw;
}
#serchInput:focus {
  border: none;
  outline: none;
  background-color: rgba(208, 188, 255, 0.3);
  border-radius: 30px;
}

.serchButton {
  background-color: rgba(103, 80, 164, 0);
  border: none;
  height: 80%;
  width: 8%;
}
.serchButton:hover {
  width: 10%;
  height: 90%;
}
.serchButton:active {
  color: rgb(192, 23, 243);
}
.filtr {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2vw;
}
.filtr button {
  font-size: 1rem;
  font-weight: 500;
  padding: 1vw;
  padding-right: 3vw;
  border: 1px solid rgba(121, 116, 126, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: white;
}
#check,
#check1,
#check2 {
  opacity: 0;
  transition: opacity 0.2s;
}
.all {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.end {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.filtr button:hover {
  background-color: rgba(232, 222, 248, 1);
}
.filtr button:active {
  background-color: rgb(224, 207, 252);
}
.filtr button.active {
  background-color: rgb(224, 207, 252);
}
.toTheTaskItself {
  width: 90%;
  background-color: rgba(103, 80, 164, 0.051);
}
#pensilButton {
  background-color: rgba(235, 222, 247, 1);
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0;
}
#pensilButton:hover {
  background-color: rgba(232, 222, 248, 1);
}
