* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.togeser1Ekran {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}
.overlay.active {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
}
.time {
  width: 90%;
  height: auto;
  margin: 3vw;
  margin-top: 4vw;
}
.time h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.time p {
  font-size: 1.1rem;
}

.serch {
  width: 90%;
  height: auto;
  border: none;
  background-color: rgba(103, 80, 164, 0.16);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 3vw;
  margin-bottom: 2vw;
}
#serchInput {
  width: 90%;
  height: 95%;
  border: none;
  background-color: rgba(103, 80, 164, 0);
  font-size: 1.2rem;
  padding: 1vw;
}
#serchInput:focus {
  border: none;
  outline: none;
  background-color: rgba(208, 188, 255, 0.3);
  border-radius: 30px;
}

.serchButton {
  background-color: rgba(103, 80, 164, 0);
  border: none;
  height: 80%;
  width: 8%;
}
.serchButton:hover {
  width: 10%;
  height: 90%;
}
.serchButton:active {
  color: rgb(192, 23, 243);
}
.filtr {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2vw;
}
.filtr button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 1vw;
  padding-right: 3vw;
  border: 1px solid rgba(121, 116, 126, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  background-color: white;
}
#check,
#check1,
#check2 {
  opacity: 0;
  transition: opacity 0.2s;
}
.all {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.end {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.filtr button:hover {
  background-color: rgba(232, 222, 248, 1);
  transition: 0.2s;
}
.filtr button:active {
  background-color: rgb(224, 207, 252);
  transition: 0.2s;
}
.filtr button.active {
  background-color: rgb(224, 207, 252);
}

.toWork {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vw 0;
  gap: 1.5vw;
}
.toTheTaskItself {
  width: 90%;
  background-color: rgba(103, 80, 164, 0.051);
  border-radius: 20px;
  padding: 2vw;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 2vw;
}
.checkForTask {
  height: 3vw;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#check3 {
  height: 100%;
  width: 100%;
  opacity: 0;
}
.checkForTask:hover {
  background-color: rgba(232, 222, 248, 1);
  border-color: rgba(56, 30, 114, 1);
  transition: 0.2s;
}
.checkForTask:active {
  background-color: rgb(224, 207, 252);
  transition: 0.2s;
}
.checkForTask.active {
  background-color: rgb(224, 207, 252);
}
.textForWork {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1.5vw;
  width: 90%;
}
.textForWork p {
  background-color: rgba(103, 80, 164, 0);
  border: none;
  width: 100%;
  font-size: 1rem;
}
.pensilButton {
  all: unset;
  background-color: rgba(235, 222, 247, 1);
  position: absolute;
  bottom: 2vw;
  right: 2vw;
  width: 15vw;
  height: 15vw;
  max-height: 100px;
  max-width: 100px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pensilButton:hover {
  background-color: rgb(214, 200, 238);
  transition: 0.2s;
}
.pensilButton:active {
  background-color: rgb(197, 174, 238);
  transition: 0.2s;
}
.pensilButton.active {
  display: none;
}
/*####################  2Ekran  #####################*/
.smalDisplay {
  display: none;
}
.smalDisplay.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 8;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-family: "Inter", sans-serif;
}
.linie {
  height: 0.8vw;
  width: 8vw;
  border-radius: 30px;
  background-color: rgba(121, 116, 126, 1);
  margin: 3vw 0 5vw 0;
}
.creatWork {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5vw;
  margin: 1, 5vw;
}
#needToWork,
#needDate {
  width: 90%;
  border: 1px solid rgba(73, 69, 79, 1);
  border-radius: 5px;
  font-size: 3vw;
  padding: 2vw;
  color: rgba(73, 69, 79, 1);
}
.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 2.8vw;
  padding: 1vw;
  color: rgba(73, 69, 79, 1);
  margin: 2vw;
}
.remember img {
  height: 5vw;
}
.funktional {
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  width: 90%;
  margin: 5vw 0 3vw 0;
}

.addBtn,
.deleteBtn {
  width: 20vw;
  height: auto;
  padding: 2vw 3vw;
  border-radius: 30px;
  background-color: white;
  border: 1px solid rgba(73, 69, 79, 1);
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(103, 80, 164, 1);
}

.addBtn:hover {
  background-color: rgb(135, 113, 194);
  color: white;
  transition: 0.2s;
}
.addBtn:active {
  background-color: rgba(103, 80, 164, 1);
  transition: 0.2s;
  color: white;
}
.deleteBtn.active {
  display: none;
}
